<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <h1 id="titulo">Hola jefe, te odio</h1>

     <img src="https://firebasestorage.googleapis.com/v0/b/tiendasuraaso.appspot.com/o/itachi2.jpg?alt=media&token=73223e63-d991-4c2c-8e06-087e00d1a5f4" alt="" id="foto">

    <script src="../controllers/aprendiendoDom.js"></script>
</body>
</html>